* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#board {
  height: 400px;
  width: 400px;
  background-color: cyan;
  margin: 10px;
}
#player {
  height: 40px;
  width: 40px;
  background-color: red;
  position: relative;
  left: 0px;
  top: 0px;
  color: #fff;
}

.obstacle {
  height: 40px;
  width: 40px;
  background-color: blue;
  position: relative;
  display: none;
  color: #fff;
}

.animated-upwards {
  animation-name: slideUp;
  animation-duration: 4s; 
  animation-iteration-count: 1;
}

.animated-right-to-left {
  animation: 3s infinite slideLeft;
}


@keyframes slideUp {
  from {
    top: 300px;
  }
  to {
    top: -120px;
  }
}

@keyframes slideLeft {
  from {
    left: 300px;
  }
  to {
    left: 0;
  }
}