* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  margin: 10px;
}
button {
  margin-left: 10px;
}
#pokemon-form {
  margin: 10px;
}
#board {
  height: 400px;
  width: 400px;
  background-color: cyan;
  margin: 10px;
}
#player {
  height: 40px;
  width: 40px;
  background-color: red;
  position: relative;
  left: 0px;
  top: 0px;
  color: #fff;
}
#player > img {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 40px;
}

.obstacle {
  height: 40px;
  width: 40px;
  background-color: blue;
  position: relative;
  display: none;
  color: #fff;
}

.animated-upwards {
  animation-name: slideUp;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

.animated-right-to-left {
  animation: 3s 1 slideLeft;
}

@keyframes slideUp {
  from {
    top: 300px;
  }
  to {
    top: -120px;
  }
}

@keyframes slideLeft {
  from {
    left: 300px;
  }
  to {
    left: -40px;
  }
}
