#board {
  height: 400px;
  width: 400px;
  background-color: cyan;
}
#player {
  height: 40px;
  width: 40px;
  background-color: red;
  position: relative;
  left: 0px;
  top: 0px;
}

.obstacle{
  height: 60px;
  width: 60px;
  background-color: blue;
  position: relative;
  top: 360px;
  display: none;
}

.animated {
    display: block;
    animation: 3s infinite slideUp;
}

@keyframes slideUp {
  from {
    top: 300px;
  }
  to {
    top: -120px;
  }
}
